/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 20px;
}

.label, select, .enviarPedidoBtn {
    display: block;
    width: 100%;
    padding: 10px;
}

.enviarPedidoBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.enviarPedidoBtn:hover {
    background-color: #45a049;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
th {
    text-align: left;
}
